@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}
.app-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
body::-webkit-scrollbar {
  width: 10px;
}
body {
  scrollbar-width: thin;
}
body::-webkit-scrollbar-track {
  background: white;
}
body::-webkit-scrollbar-thumb {
  background-color: linear-gradient(
    145deg,
    rgba(15, 209, 132, 0.7) 0%,
    rgba(10, 104, 123, 0.7) 100%
  );
  border-radius: 6px;
  border: 3px solid white;
}
